<div class="container">
    <h1>Log in</h1>
    
    <form>
        <input #email [formControl]="emailFormControl" name="email" placeholder="Email" tabindex="1">
        <input [formControl]="passwordFormControl" name="password" placeholder="Password" type="password" tabindex="2">
        <button *ngIf="!isLoading" color="primary" tabindex="3" (click)="onSubmit()">Log in</button>
        <div *ngIf="isLoading" class="loading"><span>Loggin in...</span></div>
    </form>
    
    <p class="signup">
        Don't have an account yet?
        <a [routerLink]="'/signup'">Sign up!</a>
    </p>
    
</div>